$backgroundColor: #394053;
$primaryColor: #7CAE7A;
$secondaryColor: #4E4A59;
$tertiaryColor: #6E6362;
$quaternaryColor: #839073;

section {
    border: 1px solid black;
    box-shadow: 10px 10px 5px lightblue;
    width: 50%;
    margin: auto;
    color: $quaternaryColor;
}