$backgroundColor: #394053;
$primaryColor: #7CAE7A;
$secondaryColor: #4E4A59;
$tertiaryColor: #6E6362;
$quaternaryColor: #839073;

header {
  background: $secondaryColor;
  border-bottom: 1px solid gray;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $quaternaryColor;
}