$backgroundColor: #394053;
$primaryColor: #7CAE7A;
$secondaryColor: #4E4A59;
$tertiaryColor: #6E6362;
$quaternaryColor: #839073;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .CRUD {
    text-align: center;
    color: $primaryColor;
  }

  .URL {
    text-align: center;
    color: $primaryColor;
  }
}
